/* Stiliaus suvienodinimas visiems elementams */
body, body * {
	margin: 0;
	padding: 0;
	vertical-align: top;
	box-sizing: border-box;
	font-family: 'Courier New';
}

main {
	display: inline-block;
	margin-left: calc(50% - 400px);
	width: 800px;
	height: 400px;
	background-color: #f8f8f8;
}

	header {
		display: inline-block;
		width: 100%;
	}

		header > a > img {
			display: inline-block;
			float: left;
			margin: 6px 0px 6px 20px;
			width: 50px;
		}

		nav {
			display: inline-block;
			float: right;
			margin-right: 30px;
			margin-top: 20px;
		}

			nav > a {
				display: inline-block;
				font-family: Helvetica;
				text-decoration: none;
				padding: 5px;
				font-size: 12px;
				color: #9f9f9f;
			}

			nav > a:hover {
				background-color: #cfe3c6;
			}

			nav > a:last-of-type {
				display: inline-block;
				text-align: center;
				width: 80px;
				border: 3px solid #9f9f9f;
				border-radius: 15px;
				text-transform: uppercase;
			}

	section {
		display: inline-block;
		width: 100%;
	}
		section > div {
			display: inline-block;
			float: left;
			width: 50%;
			margin-top: 60px;
			padding-left: 50px;
			padding-right: 50px;
		}
		
			h1 {
				font-size: 80px;
				color: #9f9f9f;
				margin: 0;
			}

			p {
				font-size: 20px;
				color: #9f9f9f;
				font-weight: 600;
				margin-top: 0;       
			}

		section > img {
			display: inline-block;
			float: right;
			width: 50%;
			padding-right: 40px;
		}